@font-face {
    font-family: plus-j;
    src: url("./assets/font/plus-jarkata.ttf");
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: plus-j;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    max-width:40rem;
}

:root{
    --primary : #925DFE;
    --primary-darker : #110033;
    --primary-lighter : #EFE8FF;
    --red-lighter : #FFE5E5;
    --red-darker : #820000;
}

button{
    cursor: pointer;
}